/* global button styles */
button.modal-button, button.btn-primary {
  background-color: $ga-tan;
  border-color: $ga-tan;
  color: $text-color;
  border-radius: 3rem;
  @include mdc-dropshadow;

  &:hover, &:active {
    background-color: $ga-tan-light;
    border-color: $ga-tan;
    color: $text-color;
    @include mdc-dropshadow;
    opacity: .85;
  }
}
button.btn-info:focus {
  background-color: $ga-tan;
  border-color: $ga-tan;
  color: $text-color;
  border-radius: 3rem;
  @include mdc-dropshadow;
}
button.btn-info:not(:disabled):not(.disabled):active, button.btn-primary:not(:disabled):not(.disabled):active {
    background-color: $ga-tan-light;
    border-color: $ga-tan;
    color: $text-color;
    opacity: .85;
}

.btn-info:not(:disabled):not(.disabled):active:focus {
  @include mdc-dropshadow;
}
