/* Content styling */
header {
  margin: 1rem auto;
  text-align: center;

  img {
    width: 25%;

    @include mobile {
      width: 80%;
      margin-top: 1rem;
    }
  }

  button.modal-button {
    margin: 4rem auto;
  } // modal button  
} // header

#infoModal {
  background: $mdc-backdrop;

  .modal-dialog {
    background: $gray;
    max-width: 1400px;

    .close {
      background-color: $ga-tan-light;
      @include mdc-dropshadow;
      border-radius: 3rem;
      width: 50px;
      margin: 0;
      padding: 6px 0;
    }

    .modal-header {
      background: $ga-umber;

      .close {
        font-size: 2.5rem;
      }
    } // modal-header

    .modal-main {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      @include mobile {
        flex-direction: column;
      }
    } // modal-main

    .modal-footer {
      background: $ga-umber;

      .close {
        font-size: 1rem;
      }
    } // modal-footer
  } // modal-dialog  
} // info-modal

#couponCode {
  display: inline-block;
  width: 49%;
  
  @include mobile {
    width: 100%;
    padding: .5rem;
  }

  img {
    width: 25%;
  }
  h3 {
    display: inline-block;
    margin-left: 1rem;

    @include mobile {
      width: 69%;
    }
  }
  p {
    width: 80%;
    margin: 0 auto;
  }
  .coupon-box {
    margin: 1rem;

    #couponCode {
      display: inline-block;
      background-color: $gray;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 12px;
      padding: .59rem 0;
      border: 1px solid $mdc-backdrop;
      width: 77%;
      float: left;
      @include font-size(1.563);
      z-index: 1;

      @include mobile {
        margin: 0 auto;
        width: 100%;
      }
    }
    .btn {
      border-radius: 3rem;
      float: right;
      margin-top: -1px;
      margin-left: -2rem;
      z-index: 10;

      @include mobile {
        margin: 1rem auto;
      }
    }
  }
} // #coupon-code

#emailSub {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 49%;

  @include desktop {
    // visibility: hidden;
    transition: visibility 1s .15s ease-in;
  }
  @include mobile {
    width: 100%;
    padding: .5rem;

    h3 {
      width: 90%;
      margin: 0 auto;
    }
  }

  .material-icons {
    color: $ga-tan;
    width: 50%;
    margin: 0 auto;
  }
  ul {
    list-style: none;
    text-align: left;
    margin: 0 auto 2rem auto;
  }
} // email-sub

.active {
  background-color: $ga-tan-light;
  @include mdc-dropshadow;

  .material-icons {
    color: $ga-tan-light;
  }
  button.btn-primary {
    background-color: $ga-umber;
    min-height: 3.125rem;

    &:hover, &:not(:disabled):not(.disabled):active {
      background-color: $ga-umber-light;
      opacity: 1;
    }
  }
} // .active class
