$base-font: 'Sen', sans-serif;
$heading-font: 'Montserrat', sans-serif;

/* Brand colors */
$ga-umber: #d5716c;
$ga-tan: #efc9a5;

/* Material Design additional colors */
$ga-umber-light: #ffa19a;
$ga-umber-dark: #a14341;
$ga-tan-light: #fffcd7;
$ga-tan-dark: #bc9876;
$mdc-backdrop: rgba(0, 0, 0, .50);
$gray: #EEEEEE;
$text-color: #000000;

/* Misc colors */
$ice-green: #d4f5e8;

/* Dropshadow - see mixins */
